@charset "utf-8";
/* CSS Document */

#whereWhen span.header {
	font-weight:bold;
}
#whereWhen{
	font-weight:bold;
}

body {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
#stayConnected img {
	border:solid 0px white;
}
.bold {
	font-weight:bolder;
}

